@page "/IntServer"
@using Demo.Shared.Entities
@using Demo.Shared.Repositories
@using DemoProject.Components.Layout
@inject ISnackRepository SnackRepository
@rendermode InteractiveServer
<h3>IntServer</h3>


<Autocompleter T="Snack" Data="Snacks" OnSelect="HandleSelect">
    <ItemTemplate Context="snack">
        @snack.Name krijgt een @snack.Rating
    </ItemTemplate>
</Autocompleter>


Counter: @Counter

<MudButton Color="Color.Primary" OnClick="Increment">Increment</MudButton>

@code {
    public int Counter { get; set; }
    public List<Snack>? Snacks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Snacks = (await SnackRepository.GetAllAsync()).ToList();
    }

    void Increment()
    {
        Counter++;
        Console.WriteLine("incrementing!");
    }

    void HandleSelect(Snack snack)
    {
        Console.WriteLine($"Hey er is een snack geselecteerd! {snack.Name}");
    }

}