@page "/IntServer"
@using Demo.Shared.Entities
@using Demo.Shared.Repositories
@using DemoProject.Components.Layout
@using DemoProject.Repositories
@inject ISnackRepository SnackRepository
@rendermode InteractiveServer
<h3>IntServer</h3>


<Autocompleter T="Snack" Data="Snacks" OnSelect="HandleSelect" />


Counter: @Counter

<MudButton Color="Color.Primary" OnClick="Increment">Increment</MudButton>

@code {
    public int Counter { get; set; } = 0;
    public List<Snack> Snacks { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Snacks = (await SnackRepository.GetAllAsync()).ToList();
    }

    void Increment()
    {
        Counter++;
        Console.WriteLine("incrementing!");
    }

    void HandleSelect(Snack snack)
    {
        Console.WriteLine($"Hey er is een snack geselecteerd! {snack.Name}");
    }
}